body {
    background: #222222;
}

.btn_mui {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: black;
    text-transform: uppercase;
    border-radius: 5px;

    background: linear-gradient(90deg, #0162c8, #55e7fc);
}
