* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    background: #222222;
}

@import "./styles/scss/btn_mui_style";
@import "./styles/scss/header";
@import "./styles/scss/light_text";
@import "./styles/scss/magic_card";
